* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	min-height: 100%;
}

body {
	background-color: #454545;
}

.content {
	margin-top: 50px;
	height: 94vh;
	height: calc(100vh - 50px);
}

footer {	
	background-color: #202020;
	bottom: 0px;
	position: absolute;
	width: 100%;
}

.content__cover {
	height: 100%;
}